@font-face {
    font-family: 'bohemian';
    src: url('./font/Bohemian\ Typewriter.ttf')
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'bohemian';
}

#header {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-image: url('./img/busy3.png');
    background-position: center;
}

#name-box {
    background-color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#name-box > * {
    align-self: center;
    color: white;
    font-family: 'bohemian';
    margin: 0;
}

#name-box :last-child {
    align-self: flex-end;
}

#menu-box {
    display: flex;
    justify-content: center;
}

#menu-box ul {
    list-style: none;
    display: flex;
    gap: 5rem;
}

button,
.contact a {
    background-color: black;
    border: 1px solid black;
    padding:.5rem 1rem;
    font-family: 'bohemian';
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

button:hover,
.contact a:hover {
    background-color: white;
    color: black;
}

.container {
    margin: 0 5rem;
    
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
}

.container div {
    align-self: stretch;
}

.container img {
    max-width: 100%;
}

.container .text-box:nth-of-type(odd) {
    background-color: black;
    color: white;
}

.container .text-box:nth-child(odd) h2,
.container .text-box:nth-child(odd) h3 {
    background-color: white;
    color: black;
}

.container .text-box:nth-child(even) h3 {
    background-color: black;
    color: white;
}
.text-box {
    padding: 2rem;
    min-height: 750px;
}

.text-box p {
    padding-left: 3rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    padding: 0;
}

.about-img {
    background-image: url('./img/chef1.jpg');
}

.menu-top-img {
    background-image: url('./img/chef2.jpg');
}

.menu-bottom-img {
    background-image: url('./img/drink.png');
}

.contact-img {
    background-image: url('./img/table.jpg');
}

.image-space {
    background-size: cover;
}